<p id="notice"><%= notice %></p>
<div class="container current">
  <p>For the next few hours, expect <%= @hourly %></p>

  <div class="weather-data"
    <p>Want more details? Of course you do!</p>
    <% @currently.each do | category, data | %>
      <p><%= "The #{category} is currently #{data}" %></p>
    <% end %>
  </div>
</div>

<div id="chart"></div>

<script>

var fake_list = ["data1", 42, 69, 49, 12];

var chart = c3.generate({
  bindto: "#chart",
  data: {
    x: 'x',
    columns: [
    ['x', 1970, 1975, 1980, 1985],
    fake_list
    ]
  },
});


</script>
