<p id="notice"><%= notice %></p>

<p>For the next few hours, expect <%= @hourly %></p>

<p>Want more details? Of course you do!</p>
<% @currently.each do | category, data | %>
  <p><%= "The #{category} is currently #{data}" %></p>
<% end %>

<a class="historical" href="/queries/<%= @query.id %>/historic">Historic Weather on this day</a>

<script>

</script>
