p {
  font-family: 'Source Serif Pro', serif;
}

body {
  font-size: 14px;
}

h3, h4, h5 {
  font-family: 'Source Serif Pro', serif;
}

h1, h2{
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 150%;
}

#background {
  width: 100%;
  background-image: url('/assets/images/blue_sky.jpeg');
  background-size: cover;
}

@media only screen and (min-width: 400px) {
  body {
    background-image: url('/assets/blue_sky.jpeg');
  }
}

@media only screen and (min-device-width: 400px) {
  body {
    background-image: url('/assets/blue_sky.jpeg');
  }
}

main {
    min-height: 600px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
}

.form-text {
  color: white;
  font-size: 16px;
  font-family: 'Source Serif Pro', serif;
  padding: 3px;
}

input[type=submit] {
  margin: 3px;
  background-color: #000040;
  color: white;
  padding: 3px 20px;
  font-family: 'Source Serif Pro', serif;
  font-size: 16px;
  border-radius: 7pt;
}

main > .container {
    margin: 4px;
    padding: 5px;
    border-radius: 7pt;
    background: #3f3f3f;
    flex: 3 1 60%;
    order: 1;
}

.container {
  background-color: #3f3f3f;
  opacity: 0.7;
  color: white;
   font-family: 'Source Serif Pro', serif;
   font-size: 14pt;
}

.container h4, h2, h3 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

main > aside {
    margin: 4px;
    padding: 5px;
    border: 1px solid #a8a8a8;
    border-radius: 7pt;
    background: #7e7e7e
;
    flex: 1 6 30%;
    order: 2;
}

aside {
  opacity: 0.7;
}

header, footer {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 20px;
    border: 1px solid #000040;
    border-radius: 7pt;
    background: #000040;
}

@media all and (max-width: 640px) {
    main, #page {
        flex-direction: column;
    }

    main > aside, main > .container{
        order: 0;
    }

    main > .container, main > aside, header, footer {
        min-height: 50px;
        max-height: 50px;
    }
}

ul#header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li#header {
  float: left;
}

li#header a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  font-size: 14px;
}

#address-input {
  width: 200px;
  height: 20px;
  padding: 5px;
}

.form {
  margin: auto;
  padding: 20px 50px;
  max-width: 400px;
  text-align: center;
  background-color: #3f3f3f;
  border-radius: 7pt;
  opacity: 0.7;
}

.form h1 {
  color: white;
}

#notice-error {
  color: red;
  font-size: 12pt;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Source Serif Pro', serif;
}

.user-info {
  text-align: center;
}

.user-link:visited {
  text-decoration: none;
  color: white;
}

.user-link:hover {
  text-decoration: none;
  color: #d6ebf2;
}

