
p {
  font-family: Verdana;
}

body {
    font: 24px Helvetica;
    background: #999999;
}

main {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
}

main > .container {
    margin: 4px;
    padding: 5px;
    border: 1px solid #cccc33;
    border-radius: 7pt;
    background: #dddd88;
    flex: 3 1 60%;
    order: 1;
}

main > aside {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    flex: 1 6 30%;
    order: 2;
}

header, footer {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
    border: 1px solid #000040;
    border-radius: 7pt;
    background: #000040;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
    main, #page {
        flex-direction: column;
    }

    main > aside, main > .container{
        order: 0;
    }

    main > .container, main > aside, header, footer {
        min-height: 50px;
        max-height: 50px;
    }
}

ul#header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li#header {
  float: left;
}

li#header a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  font-size: 20px;
}

#address-input {
  width: 200px;
  height: 20px;
  padding: 5px;
}

.form {
  /*display: inline-block;*/
  margin: auto;
  text-align: center;
  background-color: #eaeaf0;
}


/*slightly darker background than current*/
.weather-data {
}

