html {
  background-color: #E2E2F4;
}

main {
  background-color: #E2E2F4;
}

.container {
  display: inline-block;
  text-align: left;
  min-width: 200px;
  max-width: 600px;
  padding: 20px;
}

p {
  font-family: Verdana;
}

ul#header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000040;
}

li#header {
  float: left;
}

li#header a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#address-input {
  width: 200px;
  height: 20px;
  padding: 5px;
}

.form {
  /*display: inline-block;*/
  margin: auto;
  text-align: center;
  background-color: #eaeaf0;
}

#chart {
  max-width: 600px;
  display: inline-block;
  padding: 10px;
}

/*slightly darker background than current*/
.weather-data {
}

